{% extends 'layout.html' %}

{% block title %}Admin Home{% endblock %}\

{% block home %}
<a href="{{ url_for('listrequests') }}"><i class="fas fa-inbox"></i>Requests</a>
<a href="{{ url_for('listfileadmin',filepath='/') }}"><i class="fas fa-stream"></i>List</a>
<a href="{{ url_for('adminHome') }}"><i class="fas fa-home"></i>Home</a>
{% endblock %}

{% block content %}

<div style="margin: 30px">
	<h2 style="color: white;">Home Page</h2>
	<p style="color: white;">Welcome back, {{ username }}!</p> 
	<div class="login inline" style="float:left; margin:10px">
		<h1>Register User</h1>
		<form action="{{ url_for('registerUser') }}" method="post">
			<input href=# id="btn" type="submit" value="Register User">
		</form>
	</div>

	<div class="login inline" style="float:left; margin:10px">
		<h1>Edit File</h1>
		<form action="{{ url_for('edit') }}" method="post">
			<input href=# id="btn" type="submit" value="Edit File">
		</form>
	</div>

	<div class="login inline" style="float:left; margin:10px">
		<h1>Read File</h1>
		<form action="{{ url_for('readadmin')}}" method="post">
			<input href=# id="btn3" type="submit" value="Read File">
		</form>
	</div> 

	<div class="login inline" style="float:left; margin:10px">
		<h1>Create File</h1>
		<form action="{{ url_for('create_file') }}" method="post">
			<input href=# id="btn2" type="submit" value="Create File">
		</form>
	</div>

	<div class="login inline" style="float:left; margin:10px">
		<h1>Create Folder</h1>
		<form action="{{ url_for('create_folder') }}" method="post">
			<input href=# id="btn12" type="submit" value="Create Folder">
		</form>
	</div>

</div>
{% endblock %}
