{% extends 'layout.html' %}

{% block title %}Create Folder{% endblock %}


{% block home %}
<a href="{{ url_for('listrequests') }}"><i class="fas fa-inbox"></i>Requests</a>
<a href="{{ url_for('listfileadmin',filepath='/') }}"><i class="fas fa-stream"></i>List</a>
<a href="{{ url_for('adminHome') }}"><i class="fas fa-home"></i>Home</a>
{% endblock %}


{% block content %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('button#btn9').on('click', function(e) {
            e.preventDefault();
            let a = $('#filepath').val();
            $.getJSON('/cc/create_folder1/?filepath='+a,
                function(data) {

              $('#message1').html(data.message);
            
            });
            return false;
          });
        });
</script>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

<div class="login">
	<h1>Create Folder</h1>
	<form action="{{ url_for('home') }}" method="post">
		<input href=# type="text" name="filename" placeholder="filepath" id="filepath" required>
		<div class="msg">{{ msg }}</div>
		<button href=# id="btn9" type="submit">Create</button>
	</form>
	<h1 id="message1"></h1>
</div>
<script>
	var filepathVar = {{ filePath| safe}} ;
	if (filepathVar != null) {
		document.getElementById("filepath").value = filepathVar;
	};
</script>
{% endblock %}
