{% extends 'layout.html' %}

{% block title %}Edit File{% endblock %}

{% block home %}
<a href="{{ url_for('listfileadmin') }}"><i class="fas fa-inbox"></i>Requests</a>
<a href="{{ url_for('listfileadmin',filepath='/') }}"><i class="fas fa-stream"></i>List</a>
<a href="{{ url_for('adminHome') }}"><i class="fas fa-home"></i>Home</a>
{% endblock %}


{% block content %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

<div class="login">
	<h1>Edit File</h1>
	<form action="{{ url_for('home') }}" method="post">
		<input href=# type="text" name="filename" placeholder="filepath" id="filepath" required>
		<br>
		<button href=# id="btn7" type="submit">Read</button>
		<br><br><br>
		<textarea rows="10" href=# name="text_content" placeholder="text_content" id="text_content"
			style="width: 300px;" required></textarea>
		<br>
		<button href=# id="btn" type="submit">Edit</button>
		<br><br><br>
		<div class="msg" id="message1"></div>
	</form>
</div>


<script type=text/javascript>
  $(function() {
    $('button#btn7').on('click', function(e) {
            e.preventDefault();
            let a = $('#filepath').val();
            $.getJSON('/cc/read1?filepath='+a,
             function(data) {
            $('#text_content').val(data.message);      
          });
        return false;
      });

    $('button#btn').on('click', function(e) {
      e.preventDefault();
      let a = $('#filepath').val();
      let b = $('#text_content').val();
      $.getJSON('/cc/edit1?filepath='+a+'&text_content='+b.replace(/\n/g, "\\n"),
          function(data) {
        $('#message1').html(data.message);
      
      });
      return false;
    });
  });
</script>
<script>
	var filepathVar = {{ filePath| safe}}
	if (filepathVar != null) {
		document.getElementById("filepath").value = filepathVar;
		$(function () {
			let a = $('#filepath').val();
			$.getJSON('/cc/read1?filepath=' + a,
				function (data) {
					$('#text_content').val(data.message);
				});
			return false;
		});
	};
</script>

{% endblock %}