{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h2>Home Page</h2>
<p>Welcome back, {{ username }}!</p>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

<div class="login">
	<h1>Edit File</h1>
	<form action="{{ url_for('edit') }}" method="post">
		<button href=# id="btn" type="submit">Edit File</button>
	</form>
</div>


<div class="login">
	<h1>Delete File</h1>
	<form action="{{ url_for('delete') }}" method="post">
		<button href=# id="btn1" type="submit">Delete File</button>
	</form>
</div>

<div class="login">
	<h1>Create File</h1>
	<form action="{{ url_for('create_file') }}" method="post">
		<button href=# id="btn2" type="submit">create File</button>
	</form>
</div>

<div class="login">
	<h1>Read File</h1>
	<form action="{{ url_for('read') }}" method="post">
		<button href=# id="btn3" type="submit">read File</button>
	</form>
</div>
{% endblock %}
