{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block home %}
<a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a>
{% endblock %}

{% block content %}

<div style="margin: 30px">
	<h2 style="color: white;">Home Page</h2>
	<p style="color: white;">Welcome back, {{ username }}!</p> 

	<div class="login inline" style="float:left; margin:10px">
		<h1>Delete File</h1>
		<form action="{{ url_for('delete') }}" method="post">
			<input href=# id="btn1" type="submit" value="Delete File">
		</form>
	</div>

	<div class="login inline" style="float:left; margin:10px">
		<h1>Read File</h1>
		<form action="{{ url_for('read') }}" method="post">
			<input href=# id="btn3" type="submit" value="Read File">
		</form>
	</div> 
</div>
{% endblock %}
