{% extends 'layout.html' %}

{% block title %}List UserFiles{% endblock %}

{% block home %}
<a href="{{ url_for('listfile1',filepath='/') }}"><i class="fas fa-stream"></i>List</a>
<a href="{{ url_for('listfile',filepath='/') }}"><i class="fas fa-bars"></i>UserList</a>
<a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a>
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<style>
    .tablecontent {
        background-color: white;
        margin: 20px 30px;
        font-size: 30px;
    }
</style>
<br><br><br>
<div class="tablecontent">
    <h1>File List</h1>
    
    <a href="{{url_for('listfile',filepath=backPath)}}"><button id="backbutton">Back</button></a>

    <br>

    <table border="0" cellspacing="4" cellpadding="2">
        <thead>
            <td>Icon</td>
            <td>Filename</td>
            <td></td>
            <td>Last Modified</td>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                {% if record[1] == 'httpd/unix-directory' %}
                <td><i class="far fa-folder"></i></td>
                <td>{{ record[0] }}</td>
                <td><a href="{{url_for('listfile',filepath=record[0])}}"><button>Open Folder</button></a></td>
                <td>{{ record[2] }}</td>
                {% elif record[1] == 'text/plain' %}
                <td><i class="far fa-file-alt"></i></td>
                <td>{{ record[0] }}</td>
                <td><a href="{{url_for('read',filepath=record[0],user='user')}}"><button>Read File</button></a></td>
                <td>{{ record[2] }}</td>
                {% else %}
                <td><i class="far fa-file"></i></td>
                <td>{{ record[0] }}</td>
                <td></td>
                <td>{{ record[2] }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <div class="msg" id="msg1" style="padding: 10px;"></div>

</div>
<script>
    var y = Boolean({{btnDisable}});
    if (y){
        document.getElementById("backbutton").disabled = true;
    }
</script>

{% endblock %}
