{% extends 'layout.html' %}

{% block title %}List Files{% endblock %}

{% block home %}
<a href="{{ url_for('listrequests') }}"><i class="fas fa-inbox"></i>Requests</a>
<a href="{{ url_for('listfileadmin',filepath='/') }}"><i class="fas fa-stream"></i>List</a>
<a href="{{ url_for('adminHome') }}"><i class="fas fa-home"></i>Home</a>
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<style>
    .tablecontent {
        background-color: white;
        margin: 20px 30px;
        font-size: 30px;
    }
</style>
<br><br><br>
<div class="tablecontent">
    <h1>File List</h1>
    
    <a href="{{url_for('listfileadmin',filepath=backPath)}}"><button id="backbutton">Back</button></a>
    <a href="{{url_for('create_file',filepath=currentPath)}}"><button id="backbutton">Create File</button></a>
    <a href="{{url_for('create_folder',filepath=currentPath)}}"><button id="backbutton">Create Folder</button></a>

    <br>

    <table border="0" cellspacing="4" cellpadding="2">
        <thead>
            <td>Remove</td>
            <td>Icon</td>
            <td>Filename</td>
            <td>Open/Read</td>
            <td>Modify</td>
            <td>Last Modified</td>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                {% if record[1] == 'httpd/unix-directory' %}
                <td><a class="rmv" href="{{record[0]}}"><button>Remove</button></a></td>
                <td><i class="far fa-folder"></i></td>
                <td>{{ record[0] }}</td>
                <td><a href="{{url_for('listfileadmin',filepath=record[0])}}"><button>Open Folder</button></a></td>
                <td></td>
                <td>{{ record[2] }}</td>
                {% elif record[1] == 'text/plain' %}
                <td><a class="rmv" href="{{record[0]}}"><button>Remove</button></a></td>
                <td><i class="far fa-file-alt"></i></td>
                <td>{{ record[0] }}</td>
                <td><a href="{{url_for('readadmin',filepath=record[0])}}"><button>Read File</button></a></td>
                <td><a href="{{url_for('edit',filepath=record[0])}}"><button>Modify File</button></a></td>
                <td>{{ record[2] }}</td>
                {% else %}
                <td><a class="rmv" href="{{record[0]}}"><button>Remove</button></a></td>
                <td><i class="far fa-file"></i></td>
                <td>{{ record[0] }}</td>
                <td></td>
                <td></td>
                <td>{{ record[2] }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <div class="msg" id="msg1" style="padding: 10px;"></div>

</div>
<script>
    var y = Boolean({{btnDisable}});
    if (y){
        document.getElementById("backbutton").disabled = true;
    }

    $(function() {
      $('.rmv').on('click', function(e) {
        e.preventDefault();
        let a = $(this).attr('href');
        $.getJSON('/cc/admin/remove/?filepath='+a,
            function(data) {
          $('#msg1').html(data.message);
          window.setTimeout(function(){location.reload()},1500)
        });
        return false;
      });
    });
</script>

{% endblock %}
