<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Register User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>

<body>
    <nav class="navtop">
        <div>
            <h1>Cloud Management App</h1>
            <a href="{{ url_for('listrequests') }}"><i class="fas fa-inbox"></i>Requests</a>
            <a href="{{ url_for('listfileadmin',filepath='/') }}"><i class="fas fa-stream"></i>List</a>
            <a href="{{ url_for('adminHome') }}"><i class="fas fa-home"></i>Home</a>
            <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </div>
    </nav>
    <div class="register">
        <h1>Register</h1>
        <form action="{{ url_for('registerUser') }}" method="post" autocomplete="off">
            <label for="username">
                <i class="fas fa-user"></i>
            </label>
            <input type="text" name="username" placeholder="Username" id="username" required>
            <label for="password">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="password" placeholder="Password" id="password" required>
            <div class="msg">{{ msg }}</div>
            <input type="submit" value="Register">
        </form>
    </div>
</body>

</html>