{% extends 'layout.html' %}

{% block title %}Request Share{% endblock %}

{% block home %}
<a href="{{ url_for('listfile1',filepath='/') }}"><i class="fas fa-stream"></i>List</a>
<a href="{{ url_for('listfile',filepath='/') }}"><i class="fas fa-bars"></i>UserList</a>
<a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a>
{% endblock %}

{% block content %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('button#btn9').on('click', function(e) {
            e.preventDefault();
            let a = $('#filepath').val();
            $.getJSON('/cc/sharefile1/?filepath='+a,
                function(data) {
              $('#message1').html(data.message);
            });
            return false;
          });
        });
</script>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

<div class="login">
	<h1>Request Share</h1>
	<form action="{{ url_for('home') }}" method="post">
		<input href=# type="text" name="filename" placeholder="filepath" id="filepath" required>
		<div class="msg">{{ msg }}</div>
		<button href=# id="btn9" type="submit">Request Share</button>
	</form>
  <br>
		<br>
		<div class="msg" id="message1" style="padding: 10px;"></div>
</div>

<script>
	var filepathVar = {{ filePath| safe}}
	if (filepathVar != null) {
		document.getElementById("filepath").value = filepathVar;
		$(function () {
			let a = $('#filepath').val();
			$.getJSON('/cc/sharefile1/?filepath=' + a,
				function (data) {
					$('#message1').html(data.message);
				});
			return false;
		});
	};
</script>
{% endblock %}
